.footer {
    padding: 20px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.strong {
    font-weight: bold;
}

.nav .dropdown ul {
    display: none;
}

.nav .open ul {
    display: block;
    height: auto;
}
