.container-top {
    padding-top: 60px;
}

.button-top {
    padding-top: 20px;
}

.form-pad > * {
    padding-right: 8px;
    padding-bottom: 8px;
}

.table-noborder th, .table-noborder td {
    border-top: none;
}

.padright {
    padding-right: 100px;
}

